[submodule "dependencies/IO_Platform"]
	path = dependencies/IO_Platform
	url = git@github.com:QuantumApprentice/IO_platform.git
[submodule "dependencies/imgui-1.92.7"]
	path = dependencies/imgui-1.92.7
	url = git@github.com:ocornut/imgui.git
